<div class="container">
  <div class="row mt-5 pb-5">
    <% if @report.image.attached? %>
      <%= image_tag report.image, size: "1000x500" %>
    <% else %>
      <%= image_tag 'no_image', size: "1000x500" %>
    <% end %>
  </div>
  <div class="col-6">
    <h3 class="m-2"><%= @report.name %></h3>
    <h5 class="m-2" style="height:6rem;"><%= @report.item %></h5>
    <h5 class="m-2" style="height:6rem;"><%= @report.content %></h5>
    <%= link_to "Back", reports_path %>
  </div>
</div>